In [34]:
def find_largest():
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
    num3 = float(input("Enter third number: "))

    if (num1 >= num2) and (num1 >= num3):
        largest = num1
    elif (num2 >= num1) and (num2 >= num3):
        largest = num2
    else:
        largest = num3

    print("The largest number is", largest)

find_largest()

Enter first number: 200
Enter second number: 250
Enter third number: 300
The largest number is 300.0

In [35]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 != 0 or year % 400 == 0:
            return True
    return False

year = 2024
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

In [36]:
for i in range(1,6):
  print(str(i) * i)

1
22
333
4444
55555

In [37]:
rows = 5
for  j in range(1, rows+1):
  print("*" * j)

*
**
***
****
*****

In [38]:
rows = 5
for i in range(1,rows+1):
  print(" " * (rows - i), end = " ")
  print("*" * i)

     *
    **
   ***
  ****
 *****

In [39]:
for i in range(1,101):
  if i % 3 ==0 and i % 5 ==0:
    print("FizzBuzz")
  elif i % 3 ==0:
    print("Fizz")
  elif i % 5 ==0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [40]:
def is_prime(num):
  if num <= 1:
    return False

  if num == 2:
    return True

  if num % 2 ==0:
    return False


  for i in range(3,int(num**0.5)+1,2):
    if num % i ==0:
      return False
  return True

def sum_of_prime(n):
  return sum(num for num in range(2,n+1) if is_prime(num))

n = 10

print(f"The sum of all prime numbers upto {n} is {sum_of_prime(n)}")

The sum of all prime numbers upto 10 is 17

In [41]:
def fibonacci(n):
  a , b = 0 , 1
  for _ in range(n):
    print(a,end = " ")
    a, b = b ,  a + b

n = 10
print(f"The first {n} terms of the Fibonacci sequence are:")
fibonacci(n)

The first 10 terms of the Fibonacci sequence are:
0 1 1 2 3 5 8 13 21 34

In [42]:
def print_tree(height):
  for i in range(height):
    print(" " * (height - i - 1) + "*" * (2 * i + 1))

print_tree(5)

    *
   ***
  *****
 *******
*********

In [43]:
def print_alpha_tree(height):
    alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    for i in range(height):
        print(' ' * (height - i - 1) + alphabet[i % len(alphabet)] * (2 * i + 1))

print_alpha_tree(5)

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE